.player-button {
        border-style: none;
        cursor: pointer; color: white;
        background-color: transparent;
        font-size: larger;
        padding: 12px;
        padding-inline: 3px;
        margin-inline: 6px;
       }
.player {
          width: 800px;
          height: 600px;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          background: black;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }

.video-container{
  flex-grow: 1;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls-left,
.controls-right {
    display: flex;
    gap: 16px;
}
html,
body {
    height: 100%;
    margin: 0;
}