.video-container {
    flex-grow: 1;
    background-color: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
}

.player-buttons {
    background-color: black;
    padding: 10px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.player-btn {
    width: 42px;
    height: 42px;
    padding: 6px;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.player-btn i {
    color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
}
